name: Deploy to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.CPANEL_SSH_KEY }}

    - name: Deploy to cPanel
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" --delete-after --exclude='.git' --exclude='.cpanel.yml' --exclude='deploy.yml' ./ wgbiqz9gz1ez@68.178.154.97:/home/wgbiqz9gz1ez/public_html/krithikawedsbalaji.life/
